{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cross Cafe</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    {% for item in menu %}
        {{ item }}
        <button type="button" onclick="addToCart({{item.item_id}})">Add to Cart</button>
        <br/><br/>
    {% endfor %}
    <button type="button" onclick="checkout()">Checkout !</button>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_menu.js' %}"></script>
    
</body>
</html>