{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cross Cafe</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    {% for item in menu %}
        {{ item }}<br/>
        <button type="button" onclick="increment('{{item.item_id}}')">+</button>
        <div id="{{item.item_id}}">1</div>
        <button type="button" onclick="decrement('{{item.item_id}}')">-</button>
        <button type="button" onclick="addToCart('{{item.item_id}}', '{{item.name}}')">Add to Cart !</button>
        <br/><br/>
    {% endfor %}
    <button type="button" onclick="checkout()">Checkout !</button><br/>
    Cart<br/>
    <div id="cart"></div>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/show_menu.js' %}"></script>
    
</body>
</html>