<style>
body
{
	float: right;
}
</style>
<div id="complaint_menu" class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Add Complaint</a></li>
            <li><a href="#">View Complaint Status</a></li>
            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
