{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cross Cafe Complaint and Feedback</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Pending Complaints</h1>

    <div class="row">
            <div class="col-sm-12">
            {% if complaints %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Complaint Message</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                   {% for c in complaints %}
                    <form action="/complaint/add"  method="POST">
                   
                       <tr>
                            <td scope='row'><a href="/order/viewOrder?orderID={{c.order_id}}" target="_blank">{{c.order_id}}</a></td>
                            <td scope='row'>{{c.message}}</td>
                            <td scope='row'>{{c.date}}</td>
                            <td><a class="btn" href="/complaint/add?order={{c.order_id}}"> Respond </td> 
                       </tr>
                    </form>
                   {% endfor %}
                    </tbody>
                </table>
            {% else %}
                    <p class="text-warning">No New Pending Complaints To Show</p>
            {% endif %}
            <a href="#" class="previous">&laquo; Previous</a>
            <a href="#" class="next" style="float:right">Next &raquo;</a>

          
            
        </div>
        </div>

</body>
</html>
{% endblock %}
