{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cross Cafe</title>
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <form name="restaurant_search" method="POST" action="/restaurant/dropdown_search">
    {% csrf_token %}
        <select name="city">
        {% for city_object in all_cities %}
            <option value="{{city_object.city}}">{{city_object.city}}</option>
        {% endfor %}
        </select>
        <select name="area"></select>
        <input type="submit" name="submit_button">
    </form>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>